---
import { Image } from 'astro:assets';
import reviews from '../data/reviews.json';
import type { ImageMetadata } from 'astro';
console.log(reviews);

const users = import.meta.glob<{ default: ImageMetadata }>(
  '@/assets/images/reviews/*.jpg'
);
const values = Object.values(users);
const usersImages = values.map((userFunc) => userFunc());

const { id } = Astro.props;
console.log(id);

const review = reviews.find((review) => review.id === +id);
console.log(review);
const userImage = usersImages[id - 1];
---

<div class="review">
  <p>{review?.comment}</p>
  <div class="footer">
    <Image src={userImage} alt="User" />
    <div class="user-details">
      <p class="name">{review?.name}</p>
      <p class="date">{review?.date}</p>
    </div>
    <div class="rating">{review?.rating}</div>
  </div>
</div>

<style>
  .review {
    position: relative;
    z-index: 10;
    margin: 1.75rem auto;
    box-shadow: var(--shadow-light);
    background-color: #fff;
    padding: 1.5rem;
    overflow: hidden;

    p {
      margin-bottom: 1rem;
      font-size: 0.9rem;
    }

    .footer {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      img {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
      }
      .user-details {
        p {
          margin: 0;
          font-size: 0.7rem;
          text-transform: uppercase;
        }
        .name {
          font-weight: 600;
        }
      }
      .rating {
        margin-left: auto;
        color: var(--color-primary);
        font-weight: 300;
        font-size: 1.2rem;
      }
    }
    @media screen and (min-width: 60rem) {
      margin: 0;
      margin-bottom: 2rem;
      .footer {
        flex-wrap: wrap;
      }
    }
  }
</style>
